.note-container {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);;
}

.note-title {
  color: #333;
}

.note-content {
  color: #666;
}

.note-date {
  color: #999;
  font-size: 0.8rem;
}

.delete-button {
  background-color: #f44336; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f; 
}

.note-actions {
    display: flex;
    gap: 10px;
}

.edit-button {
    background: #ffc107;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background: #e0a800;
}
