.home-container {
    display: flex;
    gap: 40px;
    padding: 20px;
    align-items: flex-start;
}

.create-character {
    flex: 1;
    max-width: 350px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.characters-list {
    flex: 2;
}


.characters-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.create-character input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 12px;
}

.create-character input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-character input[type="submit"]:hover {
    background-color: #0b5ed7;
}




.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    float:right;
}

.logout-button:hover {
    background-color: #bb2d3b;
}
