.navbar {
    width: 100%;
    height: 60px;
    background-color: #f1f3f5; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #dee2e6;
}

.navbar-logo {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-link {
    color: #000;
    text-decoration: none;
    font-size: 0.95rem;
    padding: 6px 12px;          
    border-radius: 6px;
    transition: 
        background-color 0.2s ease,
        box-shadow 0.2s ease,
        transform 0.1s ease;
}


.navbar-link:hover {
    background-color: #74787b;  
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    transform: translateY(-1px);
    color:white;
    text-decoration: none;     
}


.navbar-link.logout:hover {
    background-color: #877474;
    color:white;
}
